{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date|date:"d F, Y" }}</small>
            </div>
            <h2>{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            {% if object.tags.exists %}
            <div class="article-tags">
                <strong>Tags:</strong>
                {% for tag in object.tags.all %}
                    <a href="{% url 'search-tags' tag.name %}">#{{ tag.name }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </article>
{% endblock content %}
